body{
	background: #ECEEF1;
	margin: 0px;
	padding: 0px;
}
#nav-wrapper{
	box-sizing: border-box;
	display: flex;
	padding: 10px 30px 10px 30px;
}
#container{
	color: #505050;
	display: inline-flex;
	flex-direction: row;
	font-family: AvenirNext,Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 12px;
    justify-content: flex-end;
    width: 100%;
}
.nav-column{
	align-content: flex-end;
	padding-top: 5px;
	padding-right: 15px;
}
.nav-column div{
	padding-bottom: 5px;
}
a {
	color: #0077C5;
	text-decoration: none;
}
.nav-column button{
	background: #0077C5;
    border-radius: 4px;
    border: 1px solid #4c4c4c;
	color: white;
    cursor: pointer;
	height: 35px;
    font-size: 1.125em;
    font-weight: normal;
	text-align: center;
	width: 105px;
}
.white-lock {
    height: 1em;
    width: .8em;
    margin-top: 2px;
    margin-right: 4px;
    vertical-align: text-top;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}
/* "PARENT div" with header and icons above the form: */
#header-icons {
    align-items:center;
    display:flex;
    flex-direction: column;    
    margin-top: 20px;    
    
}
/* "CHILD div" line with icons and words */
.icons { 
    align-items: center;
    display: inline-flex;    
    flex-direction: row;
    height:80px;
    justify-content:center;
    width: 1284px;
}
/* image of icons*/
.icons img{
    height:23px;
    margin: 3px;
    width:23px;    
}
/* words next to the icons*/
.icons p{
    color: #000000;
    font-family: AvenirNext, Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:12px;
    line-height: 18px;
    text-align: center;    
}
#parent-form {
    align-items:center;
    display:flex;
    flex-direction: column;    
    margin-top: 0px;    
    
}
#form {
    align-items: center;
    background:blue;
    box-shadow: none;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    font-family: AvenirNext, Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:14px;
    height: 668px;
    line-height: 21px;    
    text-align: left;
    width:380px;    
}
fieldset{
    border: none;
}
.label{
    color: #404040;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
}
.input-container{
    min-width: 160px;
    width: 320px;
}
.text-input{
    border: 1px solid #C1C5C8;
}

